<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="canonical" href="{{ page.url | absolute_url }}">
<link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon.png">
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}'s Feed" href="{{ site.baseurl }}/feed.xml">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
{% if page.layout == 'post' %}
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/extra.css">
{% endif %}
