.collapsible-link::before {
  content: '';
  width: 14px;
  height: 2px;
  background: #333;
  position: relative;
  top: calc(50% - 1px);
  right: 1rem;
  display: block;
  transition: all 0.3s;
}

.collapsible-link::after {
  content: '';
  width: 2px;
  height: 14px;
  background: #333;
  position: absolute;
  top: calc(50% - 7px);
  right: calc(1rem + 6px);
  display: block;
  transition: all 0.3s;
}

@media (min-width: 400px) {
  #jumbo {
    max-width: none;
  }
}

@media (min-width: 1000px) {
  footer {
    padding-top: 0;
    margin-top: 0;
  }
}

@media (min-width: 300px) {
  p {
    font-size: 16px;
  }
}

@media (min-width: 300px) {
  #topImage {
    max-height: 100px;
  }
}

@media (min-width: 550px) {
  #topImage {
    max-height: none;
  }
}

@media (min-width: 400px) {
  .snip1527 {
    margin-left: 30px;
  }
}

@media (min-width: 576px) {
  .snip1527 {
    margin-left: 0;
  }
}

@media (min-width: 350px) {
  #mainBlock {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 330px) {
  #secondBlock {
    padding-left: 15px;
    padding-right: 15px;
  }
}

#toc {
  padding-left: 40px;
  padding-right: 30px;
}

.links2 {
  text-decoration: underline;
}

@media (min-width: 400px) {
  #gaiq {
    font-size: 16px;
  }
}

@media (min-width: 300px) {
  #gaiq #gaiq2 {
    font-size: 14px;
  }
}

@media (min-width: 400px) {
  #amazonCCP, #gaiq, #gaiq2 {
    font-size: 16px;
  }
}

@media (min-width: 300px) {
  #amazonCCP, #gaiq, #gaiq2 {
    font-size: 14px;
  }
}

@media (min-width: 400px) {
  #virtanz {
    font-size: 16px;
  }
}

@media (min-width: 300px) {
  #virtanz {
    font-size: 14px;
  }
}

@media (min-width: 661px) {
  #amazonCCP {
    margin-top: 10px;
  }
}

@media (min-width: 661px) {
  #gaiq2 {
    margin-top: 10px;
  }
}

@media (min-width: 300px) {
  #gaiq2 {
    margin-top: 15px;
  }
}

@media (min-width: 560px) {
  #gaiq2 {
    margin-top: 10px;
  }
}

@media (min-width: 631px) {
  #gaiq2 {
    margin-top: 15px;
  }
}

@media (min-width: 358px) {
  #amazonCCP {
    margin-top: 13px;
  }
}

@media (min-width: 362px) {
  #gaiq {
    margin-top: 5px;
  }
}

@media (min-width: 992px) {
  #googAna2 {
    margin-top: 10px;
  }
}

@media (min-width: 768px) {
  #publisher {
    margin-top: 6px;
  }
}

@media (min-width: 768px) {
  #muse {
    margin-top: 8px;
  }
}

@media (min-width: 768px) {
  #indesign {
    margin-top: 12px;
  }
}

@media (min-width: 300px) {
  #publisher {
    margin-top: 5px;
  }
}

#readMore {
  font-size: 18px;
  font-family: 'Baloo Paaji 2';
}

@media (min-width: 300px) {
  #softcont {
    margin-top: -10px;
  }
}

@media (min-width: 768px) {
  #slider {
    margin-bottom: 80px;
  }
}

@media (min-width: 992px) {
  #slider {
    margin-bottom: 80px;
  }
}

#read_more_button {
  box-shadow: 4px 13px 30px 1px rgba(144,144,144,0.24);
}

@media (min-width: 992px) {
  #brand {
    font-size: 20px;
  }
}

@media screen and (max-width: 800px) {
  #bottomCard2 {
    margin-top: 50px;
  }
}

#headshot {
  max-width: 190px;
}

#tagline, #contactButtons {
  margin-top: 150px;
}

@media screen and (max-width: 500px) {
  #nanoTitle {
    font-size: 20px;
  }
}

#nanotechMainTitle3 {
  text-transform: none;
}

@media screen and (max-width: 500px) {
  #nanotechMainTitle3 {
    font-size: 30px;
  }
}

@media (min-width: 501px) {
  #nanotechMainTitle3 {
    font-size: 55px;
  }
}

@media screen and (max-width: 500px) {
  #topContainer {
    margin-top: 50px;
  }
}

@media (min-width: 501px) {
  #topContainer {
    margin-top: 100px;
  }
}

@media (min-width: 700px) {
  #bottomColumn {
    max-width: 430px;
  }
}

.bodyTest {
  font-size: 16px;
  text-align: left;
}

@media screen and (max-width: 400px) {
  #softwareTitle {
    font-size: 30px;
  }
}

@media (min-width: 992px) {
  #softcont {
    margin-top: 140px;
    max-width: 60%;
  }
}

@media (min-width: 768px) {
  #softcont {
    margin-top: 100px;
    max-width: 60%;
  }
}

@media (min-width: 700px) {
  #softwareTitle {
    font-size: 53px;
  }
}

@media (min-width: 500px) {
  #columnThing {
    margin-top: 35px;
  }
}

@media (min-width: 500px) {
  #softwareSection {
    margin-top: 70px;
  }
}

