.btn {
  text-transform: unset !important;
}

.dropdown-menu {
  margin-top: 0;
}

#mainTop {
  width: 1083px;
  text-align: center;
  padding: 10px;
}

#mainTop.mainMain {
  margin: 0 auto;
  max-width: 1100px;
}

#skydiving {
  opacity: .2;
}

.img-fluid {
  max-width: 181px;
  text-align: center;
  margin-top: -294px;
  margin-right: 74px;
}

p {
  font-size: 18px;
  /*line-height: 1.6;*/
  /*margin: initial;*/
}

@media (min-width: 400px) {
  #newText {
    line-height: 35px;
  }
}

@media (min-width: 300px) {
  #mainTitle {
    font-size: 25px;
    line-height: 35px;
  }
}

@media (min-width: 1000px) {
  #mainTitle {
    font-size: 40px;
    line-height: 45px;
  }
}

@media (min-width: 300px) {
  #nanotechContainer {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (min-width: 500px) {
  #nanotechContainer {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 576px) {
  #tecmo {
    max-width: 550px;
  }
}

@media (min-width: 300px) {
  #tecmo {
    max-width: 90%;
  }
}

.img-fluid, .img-thumbnail {
  max-width: 100%;
  height: auto;
  max-width: 600px;
}

@media (min-width: 300px) {
  #bottomDiv {
    padding-bottom: 250px;
  }
}

@media (min-width: 500px) {
  #bottomDiv {
    padding-bottom: 0px;
  }
}

#help {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 330px) {
  #nanotechTitle {
    font-size: 25px;
  }
}

@media (min-width: 300px) {
  #softTitle {
    font-size: 35px;
    line-height: 45px;
  }
}

@media (min-width: 608px) {
  #softTitle {
    font-size: 40px;
  }
}

.navbar-light .navbar-toggler-icon {
}

@media (min-width:980px) {
  .navbar-expand-md .navbar-collapse #navcol-1 {
    /*display: -ms-flexbox!important;*/
    display: flex!important;
    /*-ms-flex-preferred-size: auto;*/
    flex-basis: auto;
  }
}

@media (min-width:980px) {
  .navbar-expand-md .navbar-collapse {
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
}

