a:focus, a:hover {
  text-decoration: none;
  color: #d6d6d6;
}

a:focus, a:hover {
  text-decoration: none;
  color: #d6d6d6;
}

a {
  transition: all .2s ease-in-out;
  color: #a3a3a3;
}

a:hover {
  color: #ffffff;
  text-decoration: underline;
}

.text-center.d-inline-flex {
}

